:host {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#core_header_panel {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

#core_toolbar {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 125, 201);
}

#div {
    left: 58px;
    top: 20px;
    position: absolute;
}

#section {
    height: 1000px;
    background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
}

#paper_icon_button {
    left: -2px;
    top: 10px;
    position: absolute;
}
